body {
    font-family: Helvetica;
    margin: 0;
}

.grid-contenedor {
    display: grid;
    grid-template-areas:'header'
                        'main'
                        'footer' ;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

.header {
    grid-area: header;
    display: flex;
    background-color: #111;
    justify-content: space-between;
    align-items: center;
}

.header__logo__nombre {
    color: rgb(11, 157, 197);
    font-size: 40px;
    font-style: oblique;
    text-shadow: 3px 3px 10px #149;
}

.header__logo {
    display: flex;
    align-items: center;
    padding: 20px;
}

.header__logo__img {
    height: 70px;
    margin-right: 20px;
    margin-left: 10px;
}

.nav__anchor {
    font-weight: 600;
    padding: 18px;
    color: rgb(11, 157, 197);
    text-decoration: none;
}

.nav__anchor:hover {
    color: white;
}

.main {
    grid-area: main;
    background-color: #273F4B;
}

.main__formulario {
    width: 850px;
    background: #24303c;
    padding: 40px;
    margin: 50px auto 50px auto;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
}
  
.main__formulario h2 {
    font-size: 22px;
    margin-bottom: 20px;
}
  
.main__formulario__input {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
    margin: 10px 0;
}
  
.main__formulario a:hover {
    color: white;
    text-decoration: underline;
}
  
.main__formulario__botons {
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}

.footer {
    display: flex;
    grid-area: footer;
    justify-content: center;
    align-items: center;
}

.footer__container {
    padding: 10px;
}

.footer__container__img {
    height: 50px;
    padding: 10px;
}

.footer__container__img:hover {
    opacity: 0.9;
    transition: ease 0.3s;
    transform: scale(1.2);
}


  /*MEDIA 1024*/

@media screen and (max-width: 1024px) {
    .header {
        display: grid;
        width: auto;
        justify-content: center;
    }
    
    .header__logo {
        display: flex;
        justify-content: center;
        padding: 0px;
        margin-top: 15px;
    }
    
    .header__logo__img {
        margin-left: 0px;
    }
    
    .nav {
        display: grid;
        margin: 0px;
        padding: 0px;
        text-align: center;
        justify-content: center;
        justify-items: center;
    }

}

/*MEDIA 768*/

@media screen and (max-width: 768px) {

    .grid-contenedor {
        height: none;
        width: auto;
    }
    
    .header {
        display: grid;
        width: auto;
        justify-content: center;
    }
    
    .header__logo {
        display: flex;
        justify-content: center;
        padding: 0px;
        margin-top: 15px;
    }
    
    .header__logo__img {
        margin-left: 0px;
    }
    
    .nav {
        display: grid;
        margin: 0px;
        padding: 0px;
        text-align: center;
        justify-content: center;
        justify-items: center;
    }
    
    .main {
        padding: 0;
        margin: 0;
    }

    .main__formulario {
        width: auto;
        margin: 25px;
    }

    .footer{
        width: auto;
        padding-bottom: 10px;
    }
    
}

/*MEDIA 425*/

@media screen and (max-width: 425px) {
    
    .grid-contenedor {
        height: none;
        width: auto;
    }
    
    .header {
        display: grid;
        width: auto;
        justify-content: center;
    }
    
    .header__logo {
        display: flex;
        justify-content: center;
        padding: 0px;
        margin-top: 15px;
    }
    
    .header__logo__img {
        margin-left: 0px;
    }
    
    .nav {
        display: grid;
        margin: 0px;
        padding: 0px;
        text-align: center;
        justify-content: center;
        justify-items: center;
    }
    
    .main {
        padding: 0;
        margin: 0;
    }

    .main__formulario {
        width: auto;
        margin: 25px;
    }

    .footer{
        width: auto;
        padding-bottom: 10px;
    }
    
    }

    /* MEDIA PARA VER CORRECTAMENTE EL TITULO Y LOGO EN GALAXY FOLD */

    @media screen and (max-width: 359px) {
        
        .header__logo__nombre {
            font-size: 25px;
        }

        .header__logo__img {
            width: auto;
            height: 50px;
        }

    }