body {
    font-family: Helvetica;
    margin: 0;
}

.grid-contenedor {
    display: grid;
    grid-template-areas: 'header'
                        'main'
                        'footer';
    grid-template-rows: 1fr auto 1fr;
    height: 100vh;
    width: auto;
}

.header {
    display: flex;
    grid-area: header;
    background-color: #111;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.header__logo__nombre {
    color: rgb(11, 157, 197);
    font-size: 40px;
    font-style: oblique;
    text-shadow: 3px 3px 10px #149;
}

.header__logo {
    display: flex;
    align-items: center;
}

.header__logo__img {
    height: 70px;
    margin-right: 20px;
    margin-left: 10px;
}

.nav {
    display: flex;
    justify-items: end ;
 align-items: center;
}

.nav__anchor {
    font-weight: 600;
    padding: 18px;
    color: rgb(11, 157, 197);
    text-decoration: none;
}

.nav__anchor:hover {
    color: white;
}


.main {
    grid-area: main;
}

.main__servicios {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image:linear-gradient(
		0deg,
		rgba(0,0,0,0.5),
		rgba(0,0,0,0.45)
	) ,url(../imagenes/procesador4.jpg);
    background-position: center center;
    background-size:cover;
}

.main__servicios__h2 {
    color: rgb(11, 157, 197);
    text-shadow: 3px 3px 3px rgb(0, 76, 138);
    font-size: 45px;
    padding: 20px 0 20px 0;
}

.main__cambio {
    background-color: #111;
    padding: 15px;
}

.main__cambio__h3 {
    font-size: 2rem !important;
    color: rgb(11, 157, 197);
    text-align: center;
    padding: 40px;
    font-size: 25px;
    margin-top: 1rem;
}

.main__cambio__p {
    font-size: 1.4rem;
    color: #efefef;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 10px;
    margin: 1rem 15rem 3rem 15rem
}

.main__opciones {
    background-color: #efefef;
    text-align: center;
    padding: 35px;
    height: auto;
    color: rgb(11, 157, 197);
    font-size: 23px;
}

.main__opciones__carta1 {
    background-image:linear-gradient(
		0deg,
		rgba(0,0,0,0.5),
		rgba(0,0,0,0.45)
	) ,url(../imagenes/disco.jpg);
    background-position: center center;
    background-size: cover;
    color: rgb(11, 157, 197);
    border: 2px solid rgb(11, 157, 197);
    margin: 3rem;
}

.main__opciones__carta2 {
    background-image:linear-gradient(
		0deg,
		rgba(0,0,0,0.5),
		rgba(0,0,0,0.45)
	) ,url(../imagenes/disco.jpg);
    background-position: center center;
    background-size: cover;
    color: rgb(11, 157, 197);
    border: 2px solid rgb(11, 157, 197);
    margin: 3rem;
}

.main__opciones__carta3 {
    background-image:linear-gradient(
		0deg,
		rgba(0,0,0,0.5),
		rgba(0,0,0,0.45)
	) ,url(../imagenes/disco.jpg);
    background-position: center center;
    background-size: cover;
    color: rgb(11, 157, 197);
    border: 2px solid rgb(11, 157, 197);
    margin: 3rem;
}

.main__opciones__carta1__form {
    padding: 30px;
}

.main__opciones__carta2__form {
    padding: 30px;
}

.main__opciones__carta3__form {
    padding: 30px;
}

.main__opciones__carta1__form__button {
    background-color: #111;
    color: rgb(11, 157, 197);
    border: 3px solid rgb(11, 157, 197);
    height: 45px;
    width: 125px;
    font-weight: 700;
}

.main__opciones__carta1__form__button:hover {
    transform: scale(1.2);
    opacity: 0.9;
    transition: ease 0.5s;
}

.main__opciones__carta2__form__button {
    background-color: #111;
    color: rgb(11, 157, 197);
    border: 3px solid rgb(11, 157, 197);
    height: 45px;
    width: 125px;
    font-weight: 700;
}

.main__opciones__carta2__form__button:hover {
    transform: scale(1.2);
    opacity: 0.9;
    transition: ease 0.5s;
}

.main__opciones__carta3__form__button {
    background-color: #111;
    color: rgb(11, 157, 197);
    border: 3px solid rgb(11, 157, 197);
    height: 45px;
    width: 125px;
    font-weight: 700;
}

.main__opciones__carta3__form__button:hover {
    transform: scale(1.2);
    opacity: 0.9;
    transition: ease 0.5s;
}

.main__caracteristicas__container__list {
    text-align: center;
    list-style: none;
    padding: 100px;
    font-size: x-large;
}

.main__caracteristicas__container__list__item {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.main__presupuesto {
    text-align: center;
    height: 250px;
    background-color: #111;
    color: rgb(11, 157, 197);
    padding: 100px 30px 50px 30px;
}

.main__presupuesto__titulo {
    margin-bottom: 5rem;
    font-size: 2.5rem;
}

.main__presupuesto__form__button {
    padding: 1rem;
    border: 4px solid rgb(11, 157, 197);
    background-color: #111;
    color: rgb(11, 157, 197);
    font-size: 1.5rem;
    font-weight: 700;
}

.main__presupuesto__form__button:hover {
    transform: scale(1.2);
    opacity: 0.9;
    transition: ease 0.5s;
}

.footer {
    display: flex;
    grid-area: footer;
    justify-content: center;
    align-items: center;
}

.footer__container__anchor {
    text-decoration: none;
    color: rgb(11, 157, 197);
    font-weight: 600;
}

.footer__container__img {
    height: 50px;
    padding: 10px;
    align-items: center;
}

.footer__container__img:hover {
    opacity: 0.9;
    transition: ease 0.3s;
    transform: scale(1.2);
}


/*MEDIA 1024*/

@media screen and (min-width: 1024px) {
    
}

/*MEDIA 768*/

@media screen and (max-width: 768) {
    
}

/*MEDIA 425*/

@media screen and (max-width: 425px) {
    
.grid-contenedor {
    height: none;
    width: auto
}

.header {
    display: inline;
    justify-content: center;
    max-width: 424px;
}

.header__logo {
    display: flex;
    justify-content: center;
}

.nav {
    display: block;
    margin: 5px;
    padding: 10px;
}

.main {
    max-width: 424px;
}

.main__cambio__h3 {
    margin: 5px;
    padding: 5px;
}

.main__cambio__p {
    margin: 5px;
    padding: 15px;
}

.main__opciones {
    font-size: 22px;
    padding: 5px;
    margin: 0;
}

.main__opciones__carta3__form__button {
    font-size: 15px;
}

.main__caracteristicas__container__list {
    display: contents;
    margin: 5px;
    padding: 5px;
}

.main__presupuesto {
    text-align: center;
    height: auto;
    background-color: #111;
    color: rgb(11, 157, 197);
    padding: 20px 10px 25px 10px;
}


.main__presupuesto__titulo {
    margin-bottom: 40px;
}

.main__presupuesto__form__button {
    margin-bottom: 35px;
    margin-top: 20px;
}

.footer{
    max-width: 424px;
    padding-top: 10px;
    padding-bottom: 40px;
}

}
