body {
    font-family: Helvetica;
    margin: 0;
}

.grid-contenedor {
    display: grid;
    grid-template-areas:'header'
                        'main'
                        'footer' ;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

.header {
    grid-area: header;
    display: flex;
    background-color: #111;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.header__logo__nombre {
    color: rgb(11, 157, 197);
    font-size: 40px;
    font-style: oblique;
    text-shadow: 3px 3px 10px #149;
}

.header__logo {
    display: flex;
    align-items: center;
}

.header__logo__img {
    height: 70px;
    margin-right: 20px;
    margin-left: 10px;
}

.nav__anchor {
    font-weight: 600;
    padding: 18px;
    color: rgb(11, 157, 197);
    text-decoration: none;
}

.nav__anchor:hover {
    color: white;
}

.main {
    grid-area: main;
    background-image:linear-gradient(
		0deg,
		rgba(0,0,0,0.5),
		rgba(0,0,0,0.45)
	) ,url(../imagenes/lento.jpg);
    background-position: center center;
    background-size:cover;
    padding: 30px;
}

.main h2 {
    display: block;
    justify-content: center;
    width: 720px;
    align-items: center;
    color: rgb(11, 157, 197);
    text-shadow: 3px 3px 3px rgb(0, 0, 0);
    box-shadow: 7px 13px 37px #000;
    font-size: 45px;
    padding: 20px;
    margin:auto;
}

.main p {
    display: block;
    justify-content: center;
    color: rgb(11, 157, 197);
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    box-shadow: 7px 13px 37px #000;
    font-size: 29px;
    margin: 100px 200px 100px 200px;
    padding: 50px;
}

.footer {
    grid-area: footer;
}

.footer__container {
    position:relative;
    text-align: center;

}

.footer__container__anchor {
    text-decoration: none;
    color: rgb(11, 157, 197);
    font-weight: 600;
}

.footer__container__img {
    height: 50px;
    padding: 10px;
    align-items: center;
}

.footer__container__img:hover {
    opacity: 0.9;
    transition: ease 0.3s;
    transform: scale(1.2);
}




/*MEDIA 1024*/

@media screen and (min-width: 1024px) {
    
}

/*MEDIA 768*/

@media screen and (max-width: 768) {
    
}

/*MEDIA 425*/

@media screen and (max-width: 425px) {
    
     .grid-contenedor {
        height: none;
        width: auto
    }
    
    .header {
        display: block;
        justify-content: center;
    }
    
    .header__logo {
        display: flex;
        justify-content: center;
    }

.nav {
    margin: 0px;
    padding: 0px;
}

.main h2 {
    width: auto;
    padding: 20px;
    text-align: center;
}

.main p {
    width: auto;
    margin: 20px;
    padding: 20px;
    text-align: center;
}

.footer{
    width: auto;
    padding-top: 10px;
    padding-bottom: 40px;
}

}