.main {
        grid-area: main;
        background-color:rgb(0, 101, 148);
        & h2 {
            display: flex;
            justify-content: center;
            margin-top: 50px;
            color: rgb(11, 157, 197);
            font-size: 34px;
            font-weight: 1000;
            text-shadow: 3px -2px 3px rgb(0, 0, 0);
        }

        &__tienda {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin: 50px;
        }

        &__tienda__producto {
            padding: 30px;
            background-color: rgba(0, 0, 0, 0.486);
            margin: 10px;
            border-radius: 5px;
            border: 4px solid black;
            width: 200px;
        }

        &__tienda__producto:hover {
            opacity: 0.9;
            transition: ease 0.4s;
            transition:  0.4s;
            transform: scale(1.1);
        }

        & img {
            display: flex;
            justify-content: center;
            height: 170px;
            width: 170px;
            border-radius: 100%;
            border: 3px solid black;
        }

        &__tienda__producto__form {
            display: flex;
            justify-content: center;
        }

        &__tienda__producto__form__button {
            color: white;
            background-color: black;
            border-radius: 5px;
            margin-top: 30px;
            font-size: 20px;
            font-weight: 700;
            text-align: center;
            padding: 5PX;
        }

        &__tienda__producto__form__button:hover {
            transform: scale(1.2);
            opacity: 0.9;
            transition: ease 0.5s;
            color: rgb(11, 157, 197);
        }
        }