
/*MEDIA INDEX HASTA 768px*/

@media screen and (max-width: 768px) {
    
    .index__main {
        width: auto;
    }
    
    .index__main__cambio__h3 {
        margin: 5px;
        padding: 5px;
    }
    
    .index__main__cambio__p {
        margin: 5px;
        padding: 15px;
    }
    
    .index__main__opciones {
        font-size: 22px;
        padding: 5px;
        margin: 0;
    }
    
    .index__main__opciones__carta3__form__button {
        font-size: 15px;
    }
    
    .index__main__caracteristicas__container__list {
        display: contents;
        margin: 5px;
        padding: 5px;
    }
    
    .index__main__presupuesto {
        text-align: center;
        height: auto;
        background-color: #111;
        color: rgb(11, 157, 197);
        padding: 20px 10px 25px 10px;
    }
    
    
    .index__main__presupuesto__titulo {
        margin-bottom: 40px;
    }
    
    .index__main__presupuesto__form__button {
        margin-bottom: 35px;
        margin-top: 20px;
    }
    
    }

/*MEDIA 425*/

@media screen and (max-width: 425px) {
    
    .index__main {
        width: auto;
    }

    .index__main__cambio__h3 {
        margin: 5px;
        padding: 5px;
    }

    .index__main__cambio__p {
        margin: 5px;
        padding: 15px;
    }

    .index__main__opciones {
        font-size: 22px;
        padding: 5px;
        margin: 0;
    }

    .index__main__opciones__carta3__form__button {
        font-size: 15px;
    }

    .index__main__caracteristicas__container__list {
        display: contents;
        margin: 5px;
        padding: 5px;
    }

    .index__main__presupuesto {
        text-align: center;
        height: auto;
        background-color: #111;
        color: rgb(11, 157, 197);
        padding: 20px 10px 25px 10px;
    }


    .index__main__presupuesto__titulo {
        margin-bottom: 40px;
    }

    .index__main__presupuesto__form__button {
        margin-bottom: 35px;
        margin-top: 20px;
    }

}