/*MEDIA TRABAJOS HASTA 768px*/

@media screen and (max-width: 768px) {
    .trabajos__main {
        padding: 0;
        margin: 0;
    }

    .trabajos__main__section {
        padding: 0;
        margin: 10px;
    }

    .trabajos__main__section__contenedor {
        padding: 0;
    }

    .trabajos__main__section__contenedor__imagen {
        margin: 0;
        margin: 15px 0 15px 0;
    }

    .trabajos__main h2 {
        padding: 0;
        margin: 10px;
        font-size: 30px;
        text-align: center;
    }
    }

/*MEDIA TRABAJOS HASTA 425px*/

@media screen and (max-width: 425px) {

    .trabajos__main {
        padding: 0;
        margin: 0;
    }

    .trabajos__main__section {
        padding: 0;
        margin: 10px;
    }

    .trabajos__main__section__contenedor {
        padding: 0;
    }

    .trabajos__main__section__contenedor__imagen {
        margin: 0;
        margin: 15px 0 15px 0;
    }

    .trabajos__main h2 {
        padding: 0;
        margin: 10px;
        font-size: 30px;
        text-align: center;
    }
    }